div#container
{
   width: 902px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url('images/abstract.png');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape3 a img
{
   position: relative;
   left: 0;
}
#wb_Shape3 .default
{
   position: absolute;
   left: 0;
}
#wb_Shape3 a .hover
{
   visibility: hidden;
}
#wb_Shape3 a:hover .hover
{
   visibility: visible;
}
#wb_Shape3 a:hover .default
{
   visibility: hidden;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 780px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_TextArt1 a img
{
   position: relative;
   left: 0;
}
#wb_TextArt1 .default
{
   position: absolute;
   left: 0;
}
#wb_TextArt1 a .hover
{
   visibility: hidden;
}
#wb_TextArt1 a:hover .hover
{
   visibility: visible;
}
#wb_TextArt1 a:hover .default
{
   visibility: hidden;
}
#TextArt1
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   width: 235px;
   height: 39px;
}
#wb_TextArt1
{
   display: inline-block;
   width: 310px;
   height: 34px;
   z-index: 0;
   position: relative;
}
#TextArt1
{
   width: 310px;
   height: 34px;
}
#wb_Shape3
{
   display: inline-block;
   width: 235px;
   height: 39px;
   z-index: 3;
   position: relative;
}
@media only screen and (min-width: 720px) and (max-width: 901px)
{
div#container
{
   width: 720px;
}
body
{
   background-color: #FFFFFF;
   background-image: url('images/abstract.png');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
}
@media only screen and (min-width: 480px) and (max-width: 719px)
{
div#container
{
   width: 480px;
}
body
{
   background-color: #FFFFFF;
   background-image: url('images/abstract.png');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_TextArt1
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
}
@media only screen and (max-width: 479px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: url('images/abstract.png');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb_TextArt1
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
}
