@font-face {
  font-family: 'Modelica-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('BwModelicaSS02-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('BwModelicaSS02-Boldd41d.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('BwModelicaSS02-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('BwModelicaSS02-Bold.woff') format('woff'),
    /* Modern Browsers */ url('BwModelicaSS02-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}