.trade-popup {
    position: fixed;
    bottom: 90px;
    left: -1000px;
    z-index: 99999999999;

    border-radius: 20px;
    background: hsl(0deg 0% 100% / 85%);
    padding: 16px 52px 16px 16px;

    opacity: 0.4;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.trade-popup.show {
    opacity:1;
    left: 12px;
}

.trade-popup p {
    color: #002249;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.trade-popup .close-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    color: #002249;
    width: 4px;
    opacity: 0.8
}

.trade-popup .close-icon:hover {
    opacity: 1;
}

@media (max-width : 480px) {
    .trade-popup {
        width: calc(100vw - 24px);
        padding: 16px 32px;

        bottom: -400px;
        left: 12px;
    }

    .trade-popup.show {
        bottom: 90px;
    }
}